* {
  box-sizing: border-box;
}

body {
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: #ededed;
  margin: 25px 20px 50px 20px;
  font-size:14px;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height:1.4;
}
h1,h2,h3,h4,h5,h6{font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;font-weight:normal}
h1{font-size:45px;line-height:48px}
h2{font-size:36px;line-height:42px}
h3{font-size:28px;line-height:36px}
h4{font-size:24px;line-height:25px}
h5{font-size:20px;line-height:24px}
h6{font-size:18px;line-height:24px}

section {
  border: 1px solid black;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 0px;
  background-color: #d4d4d4;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: center;
}
ul {
  list-style-type: none;
}

aside {
  float: right;
  padding: 1em;
  border: 3px double #666831;
  margin: 1em;
  width: 45%;
  text-align: left;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}
a:link {
  color:#0000ff;
  text-decoration:none;
}
a:visited {
  color:#ff0000;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}

.subhead {
  text-align: center;
  padding: 0;
  border: none;
  margin: 0;
  width: 90%;
}

.story {
  text-align: center;
  padding: .25em;
  border: none;
  margin: .5em;
  width: 90%;
}

/*.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
}*/

.flex-container {
  display: flex;
  flex-flow: column wrap;
  float: right;
}

.grid-container {
  display: grid;
  grid-gap: 1em 1em;
}

.movie-box-01 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.movie-box-02 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 2;
  grid-row: 1 / 2;
}

.movie-box-03 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 3;
  grid-row: 1 / 2;
}

.movie-box-04 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 4;
  grid-row: 1 / 2;
}

.movie-box-05 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.movie-box-06 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 2;
  grid-row: 3 / 4;
}

.movie-box-07 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 3;
  grid-row: 3 / 4;
}

.movie-box-08 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 4;
  grid-row: 3 / 4;
}

.movie-box-09 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column:  1 / 2;
  grid-row: 5 / 6;
}

.movie-box-10 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 2;
  grid-row: 5 / 6;
}

.movie-box-11 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 3;
  grid-row: 5 / 6;
}

.movie-box-12 {
  border-style: double solid double;
  border-color: #77212E;
  background-color: #9f9c99;
  border-width: 3px;
  text-align: center;
  grid-column: 4;
  grid-row: 5 / 6;
}

#progress {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#progress td, #progress th {
  border: 1px solid #ddd;
  padding: 8px;
}
#progress tr:nth-child(even){background-color: #f2f2f2;}

#progress tr:hover {background-color: #ddd;}

#progress th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
